# Stack build artifacts
.stack-work/

# Cabal build artifacts (if using Cabal directly)
dist-newstyle/
dist/

# Stack's program's local bin path
.local/bin/

# Hidden directory created by stack
.hie/

# Haskell IDE Engine output
.hie-bios/

# GHCi history file
.ghci_history

# Cabal package environment files
*.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local.*

# Logs
*.log

# System-specific files
.DS_Store # macOS
Thumbs.db # Windows

# Input and output files
source-images/
tiles/