# F# and .NET Core specific
bin/
obj/
*.userprefs
*.usertasks

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/

# Visual Studio specific
*.suo
*.user
*.sln.docstates
.vs/
*.cache
*.csproj
*.vbproj
*.fsproj
*.swp
*.swo

source-images/
tiles/